<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jerrykcode.eagain.mapper.QuestionTagMapper">
    <insert id="insert">
        insert into question_tag(question_id, tag_id)
        values
        (#{questionId}, #{tagId})
    </insert>
    <select id="listByQuestionId" resultType="com.jerrykcode.eagain.model.Tag" parameterType="java.lang.Long">
        select tag.* from
        question_tag inner join tag on question_tag.tag_id = tag.id
        where question_tag.question_id = #{questionId}
    </select>
</mapper>